* {
  font-family: "Pixelify Sans", sans-serif;
}

body {
  background-image: url(https://i.gifer.com/fxVE.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

header {
  font-size: 40px;
}
.tittle{
  background:black;
  color: rgb(201, 38, 201);
  height: auto;
  width: 270px;
  text-align: start;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border: 2px solid rgb(201, 38, 201);
  border-radius: 15px;
  padding-left: 10px;
}
section{
  text-align: center;
}
.container {
  display: inline;
}

textarea {
  color: rgb(201, 38, 201);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 75%, rgba(22, 78, 167, 1) 99%);
  border: 3px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgb(225, 0, 255);
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 15px;
  resize: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;  
  margin-top: 20px; 

}

.btn button{
  border-radius: 15px;
  color: rgb(201, 38, 201);
  border: 2px solid rgb(201, 38, 201);
}

.glow-on-hover {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f706ff, #ffffff,#00ffd5, #002bff, #000000, #000000,#000000,#f706ff, #ffffff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
  transition: 500ms all;
    color: #000
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

footer{
  margin-top: 35px;
}
.redes{
  background:black;
  color: rgb(201, 38, 201);
  padding-right: 7px;
  position: absolute;
  right: 0;
  height: auto;
  width: 95px;
  box-sizing: border-box;
  border: 2px solid rgb(201, 38, 201);
  border-radius: 15px;
  text-align: right;
}
.logo{
  width: 50px;
  height: 50px; 
  position: absolute;
  right: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.logo:active{
  transition: 0.5 all;
  opacity: 0;
  
}
.logo:hover{
  transition: 300ms all;
  transform: scale(0.8);
}

.logo2{
  position: absolute;
  right:0;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 65px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.logo2:active{
  transition: 0.5 all;
  opacity: 0;
  
}
.logo2:hover{
  transition: 300ms all;
  transform: scale(0.8);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (max-width:480px){
  .glow-on-hover {
    width: auto;
    height: 40px;
}
}